.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 48px;
  width: 380px;
  height: 460px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(87, 54, 163);
  background-image: url("../../images/Ellipse.svg"),
    url("../../images/picture1.svg"), url("../../images/Rectangle.svg"),
    url("../../images/Vector.svg");
  background-size: 80px, 308px, 380px, 76px;
  background-repeat: no-repeat;
  background-position: top 190px right 150px, top 28px left 36px, center,
    top 20px left 20px;
}

.btn_item {
  width: 196px;
  height: 50px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #ebd8ff;
  font-size: 18px;
  color: #373737;
}
.btn_item:hover {
  background-color: #5cd3a8;
  cursor: pointer;
}
.item_name {
  margin-left: auto;
  margin-right: auto;
  color: #ebd8ff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
}
.item_tweets {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #ebd8ff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.item_followers {
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  color: #ebd8ff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.item_img {
  position: absolute;
  top: 198px;
  left: 162px;
  border-radius: 50%;
  width: 56px;
  border: none;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.pagination__link {
  margin: 0 10px;
  color: #1da1f2;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.pagination__link__disabled {
  color: #aaa;
  cursor: default;
  display: none;
}

.pagination__link__active {
  color: white;
  background-color: #1da1f2;
  border-radius: 5px;
  padding: 5px 10px;
}
.pagination__number {
  margin: 0 0.5rem;
}
.pagination__page {
  margin-right: 8px;
  cursor: pointer;
}
.btn_following {
  background-color: #5cd3a8;
}
.container_spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flip {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.flip::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.flip:hover,
.flip:focus {
  color: #313133;
  transform: translateY(-6px);
}

.flip:hover::before,
.flip:focus::before {
  opacity: 1;
}

.flip::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.flip:hover::after,
.flip:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.filters {
  display: flex;
  justify-content: flex-end;
}

.filters_select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
}

.filters_select:hover {
  border-color: #666;
}

.filters_select:focus {
  border-color: #333;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
